<section class="background-radial-gradient overflow-hidden">
  <div class="register row gx-lg-5 align-items-center mb-5">
   

    <div class="col-lg-4 mb-5 mb-lg-0 ">
      <div
        id="radius-shape-1"
        class="position-absolute rounded-circle shadow-5-strong"
      ></div>
      <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

      <div class="card bg-glass">
        <div class="card-header">
          <div class="brand-logo">OPL</div>
          <p class="mb-0">Create your account to get started</p>
        </div>
        <div class="card-body px-4 py-4 px-md-5">
          <form
            class="form"
            #registrationForm="ngForm"
            (ngSubmit)="onSubmit(registrationForm)"
          >
            <div class="form-scrollable">
              <!-- Full Name -->

              <div class="form-outline mb-4">
                <label class="form-label" for="profileImage">Profile Image</label>
                <input
                  type="file"
                  id="profileImage"
                  class="form-control"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  #profileImage="ngModel"
                  ngModel
                  name="profileImage"
                />
                <div class="mt-2" *ngIf="selectedFile">
                  <small>Selected file: {{selectedFile.name}}</small>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  placeholder="Enter Your Full Name"
                  #name="ngModel"
                  ngModel
                  name="name"
                  required
                />
                <label class="form-label" for="name">Full Name</label>
                <div *ngIf="name.invalid && name.touched" class="error">
                  <div *ngIf="name.errors?.['required']">
                    Full Name is required
                  </div>
                </div>
              </div>

              <!-- Date of Birth -->
              <div class="form-outline mb-4">
                <input
                  type="date"
                  id="dob"
                  class="form-control"
                  #dob="ngModel"
                  ngModel
                  name="dob"
                  required
                />
                <label class="form-label" for="dob">Date of Birth</label>
                <div *ngIf="dob.invalid && dob.touched" class="error">
                  <div *ngIf="dob.errors?.['required']">
                    Date of Birth is required
                  </div>
                </div>
              </div>

              <!-- Username -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  placeholder="Enter Username"
                  #username="ngModel"
                  ngModel
                  name="username"
                  required
                />
                <label class="form-label" for="username">Username</label>
                <div *ngIf="username.invalid && username.touched" class="error">
                  <div *ngIf="username.errors?.['required']">
                    Username is required
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Enter Email"
                  #email="ngModel"
                  ngModel
                  name="email"
                  required
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                />
                <label class="form-label" for="email">Email</label>
                <div *ngIf="email.invalid && email.touched" class="error">
                  <div *ngIf="email.errors?.['required']">
                    Email is required
                  </div>
                  <div *ngIf="email.errors?.['pattern']">
                    Enter a valid email
                  </div>
                </div>
              </div>

              <!-- Gender -->
              <div class="form-outline mb-4">
                <label class="form-label">Gender</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="male"
                    value="MALE"
                    name="gender"
                    ngModel
                    required
                    #gender="ngModel"
                  />
                  <label class="form-check-label" for="male">MALE</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="female"
                    value="FEMALE"
                    name="gender"
                    ngModel
                    required
                    #gender="ngModel"
                  />
                  <label class="form-check-label" for="female">FEMALE</label>
                </div>
                
                <div *ngIf="gender.invalid && gender.touched" class="error">
                  <div *ngIf="gender.errors?.['required']">
                    Gender selection is required
                  </div>
                </div>
              </div>

              <!-- Contact Number -->
              <div class="form-outline mb-4">
                <input
                  type="tel"
                  id="contactNumber"
                  class="form-control"
                  placeholder="Enter Contact Number"
                  #contactNumber="ngModel"
                  ngModel
                  name="contactNumber"
                  required
                  pattern="^[0-9]{10}$"
                />
                <label class="form-label" for="contactNumber"
                  >Contact Number</label
                >
                <div
                  *ngIf="contactNumber.invalid && contactNumber.touched"
                  class="error"
                >
                  <div *ngIf="contactNumber.errors?.['required']">
                    Contact Number is required
                  </div>
                  <div *ngIf="contactNumber.errors?.['pattern']">
                    Enter a valid 10-digit contact number
                  </div>
                </div>
              </div>

              <!-- Password -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Enter Password"
                  #password="ngModel"
                  ngModel
                  name="password"
                  required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{7,}$"
                />
                <label class="form-label" for="password">Password</label>
                <div *ngIf="password.invalid && password.touched" class="error">
                  <div *ngIf="password.errors?.['required']">
                    Password is required
                  </div>
                  <div *ngIf="password.errors?.['pattern']">
                    Password must be at least 7 characters long, include one
                    uppercase letter, and one digit.
                  </div>
                </div>
              </div>

              <!-- Address -->
              <div class="form-outline mb-4">
                <textarea
                  id="address"
                  class="form-control"
                  placeholder="Enter Full Address"
                  #address="ngModel"
                  ngModel
                  name="address"
                  required
                  rows="3"
                ></textarea>
                <label class="form-label" for="address">Full Address</label>
                <div *ngIf="address.invalid && address.touched" class="error">
                  <div *ngIf="address.errors?.['required']">
                    Full Address is required
                  </div>
                </div>
              </div>

              <!-- Pin Code -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="pinCode"
                  class="form-control"
                  placeholder="Enter Pin Code"
                  #pinCode="ngModel"
                  ngModel
                  name="pinCode"
                  required
                  pattern="^[0-9]{6}$"
                />
                <label class="form-label" for="pinCode">Pin Code</label>
                <div *ngIf="pinCode.invalid && pinCode.touched" class="error">
                  <div *ngIf="pinCode.errors?.['required']">
                    Pin Code is required
                  </div>
                  <div *ngIf="pinCode.errors?.['pattern']">
                    Enter a valid 6-digit pin code
                  </div>
                </div>
              </div>

              <!-- Role Selection -->
              <div class="form-outline mb-4">
                <label class="form-label" for="roleSelect">Select Role</label>
                <select
                  id="roleSelect"
                  class="form-control"
                  #role="ngModel"
                  ngModel
                  name="role"
                  required
                >
                  <option value="" disabled selected>Select your role</option>
                  <option value="user">User</option>
                
                </select>
                <div *ngIf="role.invalid && role.touched" class="error">
                  <div *ngIf="role.errors?.['required']">
                    Role selection is required
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn submit"
                [disabled]="registrationForm.invalid"
              >
                Create Account
              </button>
              <div class="text-center mt-3">
                Already have an account?
                <a routerLink="/login" class="text-primary">Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
</section>
