<nav class="custom-navbar">
  <div class="navbar-container">
    <div class="navbar-brand" style="margin-left: -70px">
      <a href="#" class="brand-link">OPL</a>
    </div>
    <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen">
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>

    <div class="navbar-menu" [ngClass]="{ 'is-open': isMenuOpen }">
      <div class="navbar-links">
        <a
          *ngIf="isLoggedInflag && roleMatchs(['ADMIN'])"
          routerLink="/admin"
          routerLinkActive="active"
          class="nav-link"
        >
          <span class="nav-link-bg"></span>
          <i class="fa-solid fa-user-tie"></i>
          <span>users</span>
        </a>

        <a
          *ngIf="roleMatchs(['USER'])"
          routerLink="/home"
          routerLinkActive="active"
          class="nav-link"
        >
          <span class="nav-link-bg"></span>
          <span>home</span>
        </a>

        <a
          *ngIf="isLoggedInflag && roleMatchs(['ADMIN'])"
          routerLink="/profile"
          routerLinkActive="active"
          class="nav-link"
        >
          <span class="nav-link-bg"></span>

          <span>profile</span>
        </a>
        <a *ngIf="isLoggedInflag" (click)="logout()" class="nav-link">
          <span class="nav-link-bg"></span>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </div>

      <div class="navbar-auth">
        <button
          *ngIf="!isLoggedInflag"
          routerLink="/login"
          class="auth-button login-btn"
        >
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </div>
    </div>
  </div>
</nav>
